<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    <%- include('links') %>
</head>

<body>
    <div class="container center-div">
        <!-- <img src="http://localhost:5000/assets/sad.png" alt="" srcset="" height="100%" width="100%"> -->
        <h1 class="bg-primary">Oops! We didn't find that.</h1>
    </div>
</body>

</html>